<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extension Education</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans bg-gray-100">
    <header class="bg-white shadow-md">
        <nav class="container mx-auto flex justify-between items-center p-4">
            <div class="text-xl font-bold text-blue-600">EduExtend</div>
            <ul class="flex space-x-4">
              <li><a routerLink="/Student-Dashboard" routerLinkActive="active" class="text-gray-700 hover:text-blue-600">Dashboard</a></li>
              <li><a routerLink="/Course-Details" routerLinkActive="active" class="text-gray-700 hover:text-blue-600">Course</a></li>
            </ul>
        </nav>
    </header>
    <router-outlet></router-outlet>
    <app-bot-ui></app-bot-ui>
</body>
</html>
